ساخت Rule ها

In [5]:
from mlxtend.frequent_patterns import association_rules
import pandas as pd
freq_01 = pd.read_pickle("out/freq_01.pkl")

rules = association_rules(
    freq_01,
    metric="lift",
    min_threshold=1.0
)

print("Total rules:", len(rules))
rules.sort_values("lift", ascending=False).head(10)

Total rules: 28

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
11,(27966),(21137),0.043447,0.087390,0.013374,0.307818,3.522331,1.0,0.009577,1.318453,0.748623,0.113855,0.241535,0.230427
10,(21137),(27966),0.087390,0.043447,0.013374,0.153036,3.522331,1.0,0.009577,1.129390,0.784670,0.113855,0.114567,0.230427
26,(49683),(24852),0.027243,0.151571,0.010685,0.392208,2.587619,1.0,0.006556,1.395920,0.630727,0.063552,0.283626,0.231351
27,(24852),(49683),0.151571,0.027243,0.010685,0.070495,2.587619,1.0,0.006556,1.046532,0.723153,0.063552,0.044463,0.231351
19,(27966),(13176),0.043447,0.111166,0.012454,0.286645,2.578527,1.0,0.007624,1.245991,0.639988,0.087606,0.197426,0.199338
18,(13176),(27966),0.111166,0.043447,0.012454,0.112031,2.578527,1.0,0.007624,1.077236,0.688747,0.087606,0.071698,0.199338
3,(47209),(13176),0.062836,0.111166,0.016558,0.263514,2.370447,1.0,0.009573,1.206857,0.616902,0.105169,0.171401,0.206232
2,(13176),(47209),0.111166,0.062836,0.016558,0.148950,2.370447,1.0,0.009573,1.101185,0.650446,0.105169,0.091887,0.206232
25,(21903),(47209),0.073380,0.062836,0.010897,0.148505,2.363375,1.0,0.006286,1.100610,0.622559,0.086957,0.091413,0.160964
24,(47209),(21903),0.062836,0.073380,0.010897,0.173423,2.363375,1.0,0.006286,1.121034,0.615555,0.086957,0.107966,0.160964

تمیز کردن جدول

In [6]:
rules_clean = rules[[
    "antecedents", "consequents",
    "support", "confidence", "lift"
]].copy()

rules_clean = rules_clean.sort_values("lift", ascending=False).reset_index(drop=True)
rules_clean.head(10)

  antecedents consequents   support  confidence      lift
0     (27966)     (21137)  0.013374    0.307818  3.522331
1     (21137)     (27966)  0.013374    0.153036  3.522331
2     (49683)     (24852)  0.010685    0.392208  2.587619
3     (24852)     (49683)  0.010685    0.070495  2.587619
4     (27966)     (13176)  0.012454    0.286645  2.578527
5     (13176)     (27966)  0.012454    0.112031  2.578527
6     (47209)     (13176)  0.016558    0.263514  2.370447
7     (13176)     (47209)  0.016558    0.148950  2.370447
8     (21903)     (47209)  0.010897    0.148505  2.363375
9     (47209)     (21903)  0.010897    0.173423  2.363375

تبدیل product_id به اسم محصول

In [7]:
# products باید از products.csv لود شده باشه
PRODUCTS_PATH = "products.csv"   # اگر تو مسیر دیگه‌ست، اصلاحش کن
products = pd.read_csv(PRODUCTS_PATH, usecols=["product_id", "product_name"])

print("Products loaded:", products.shape)
products.head()

id2name = dict(zip(products["product_id"], products["product_name"]))

def map_itemset(s):
    return [id2name.get(int(x), str(x)) for x in s]

top3 = rules_clean.head(3).copy()
top3["antecedents"] = top3["antecedents"].apply(map_itemset)
top3["consequents"]  = top3["consequents"].apply(map_itemset)
top3

Products loaded: (49688, 2)

,antecedents,consequents,support,confidence,lift
0,[Organic Raspberries],[Organic Strawberries],0.013374,0.307818,3.522331
1,[Organic Strawberries],[Organic Raspberries],0.013374,0.153036,3.522331
2,[Cucumber Kirby],[Banana],0.010685,0.392208,2.587619